body{
    display: flex;
    justify-content: center;
    margin: 0%;
}

.logo{
    display: flex;
    align-items: center;
    margin-top: 50px;
    position: relative;
    right: 23vw;
    font-size: 23px;
}

.frase{
    margin-top: 50px;
    position: relative;
    right: 17vw;
    text-align: center;
    width: 400px;
    text-align: left;
}

.banner{
    position: relative;
    left: 24vw;
    bottom: 20vw;
}


.containers{
    display: flex;
    position: relative;
    align-items: center;
    bottom: 28vw;
}

.balao{
    display: flex;
    margin: 10px;
}

.opcao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 400px;
    height: 200px;

    background-color: rgb(154, 111, 194);
    border-radius: 3px;
    box-shadow: 0px 0px 6px #636363;
    color: rgb(255, 255, 255);
    text-align: left;
}

p{
    margin: 10px;
    text-align: center;
}

.cadastrar{
    padding: 7px;
    border-radius: 5px;
    border: 0px solid;
}